    /* <p><a href=""></a></p>
<!-- CSS -->
 <h1{
    color: #333;
    font-size: 12px;
    text
 }
<h1></h1>
 <!-- aplicar a cor apenas da linha -->
 <p style="background-color: blueviolet;">Css inline</p>

 <!-- link css -->
  <link rel="stylesheet" href="./styles.css"> */

.titulo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    width: 300px;
    height: 350px;
    border: 1px solid rgb(222, 251, 57);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(65, 0, 82, 0.8);
    font-family: Arial, Helvetica, sans-serif;
transition: transform 0.3s ease;
flex: 0 -1 auto;
}
.card-imagem{
    display: flex;
    flex-direction: column;

}
.card-imagem > img{
    max-width: 100%;
    height: 50pxpx;
}
.card-imagem > figcaption{
    font-size: 0.8rem;
    padding: 8px;
    text-align: center;
    color: #555;
}
.card:hover{
    transform:scale(1.1)
}
.nomeexe01{
       display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.card_rodapé{
    background-color: #afa8a8;
    text-align: center;
    padding: 6px;

}
.card_botao{
    /* remove a decoração da tag a */
text-decoration: none;
color: white;
background-color: blue;
border-radius: 4px;
padding: 5px 6px;


}
.card_botao:hover{
    background-color: pink;
    width: 150px;

}
.card_conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}