/* Seletor universal */
* {
    /* zera a margem do documento  */
    margin: 0%;
    /* gera um espaçamento interno */
    padding: 0%;

}

/* seletor de tipo, aplicar o css em uma tag */
h5{
    color: blueviolet;
}

/* seletor de classe */

.titulo{
    background-color: chocolate;
    /* aplica uma margem em todas as laterais */
    /* margin: 10px; */
    /* margin-left: 25px; */
    /* aplico o espaçamento no superior e inferior */
    /* e aplico tambem nas laterais esquerda e direita */
/* margin: 0 20px; */
margin: 0 10 0 0px;
/* aplicando espaçamento interno */
/* padding: 10px; */
padding: 0 10px;

}

p{
    background-color: brown;

}

.imagem{
    /* aplicando tamanho em largura */
    width: 200px;
/* aplicando tamanho em largura */
height: 200px;
}

.formulario{
    background-color: darkgrey;
width: 400px;
margin: 0 auto;
/* alinha o conteudo interno, centraliza  */
text-align: center;

}
.input-nome{
    /* remover as bordas */
    border: none;
    /* aplica corvatura no canto das bordas */
    border-radius: 5px;
    margin-left: 10px;
/* definir opacidade no campo texto */
opacity: 70%;
}

.botao{
    background-color: chartreuse;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    /* aplicando sombra no texto posição x, y blur  */
    text-shadow: 5px 2px 5px rgba(212, 14, 57, 0.9);
    margin: 0 auto;

}